*{
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}
*, ::before, ::after{
  box-sizing: border-box;
}
:before, ::after{
  text-decoration: inherit;
  vertical-align: inherit;
}
:root{
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4
}
html{
	width: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}
html,body{
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  /* background-color: var(--white-400); */
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
  font-family: 'body', Helvetica,'맑은 고딕','malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Droid sans', sans-serif;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: calc(-0.03 * 1em);
  color: var(--black-400);
}
.body--en{ letter-spacing: calc(-0.02 * 1em); }
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
  font-weight: normal;
  overflow-wrap: break-word;
  line-height: 150%;
}
h1,h2,h3,h4,h5,h6,p,span,b,em,strong,i,li,th,td,label{transform: skew(-0.1deg);}
p{
  overflow-wrap: break-word;
}
ul,ol,li{
  list-style: none;
}
button,input,select,textarea{
  margin: 0;
  font: inherit;
  vertical-align: middle;
}
img,video{
  height: auto;
  max-width: 100%;
  border: 0;
}
iframe{
  border: 0;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
td,th{
  padding: 0;
  border-collapse: collapse;
}
img, picture, video, canvas, svg{
  display: block;
  max-width:100%;
}
button{
  background:none;
  border:0;
  cursor:pointer;
}
a{
  width: 100%;
}
a, a:active, a:hover{
  display: inline-block;
	text-decoration: none;
	color: inherit;
}
address, caption, cite, code, dfn, em, var{
  font-style:normal;
  font-weight:400
}
em{font-weight:bold;font-style:normal}

/* Bootstrap reset */
.btn-check:focus+.btn, .btn-light:active:focus, .btn:focus{
  box-shadow: none;
}